

progress{

    display:block;
    width:100%;
    border:none;
}
        /* For Chrome or Safari */
        progress::-webkit-progress-bar {
            background-color: #c9ffd4;
        }

        progress::-webkit-progress-value {
            background-color: #ed64cd !important;
        }


        /* For Firefox */
        progress {
            background-color: #c9ffd4;
        }

        progress::-moz-progress-bar {
            background-color: #ed647d !important;
        }

        /* For IE10 */
        progress {
            background-color: #c9ffd4;
        }

        progress {
            background-color: #ed649f;
        }
